.card {
  border: 1px solid;
  border-color: grey;
  height: 4em;
  width: 2.5em;
  background-color: lightgrey;
  text-align: center;
  font-size: 2em;
  line-height: 4em;
}

.card.enabled:hover {
  background-color: white;
  cursor: pointer;
}

.card.selected {
  border-color: green;
  border: 1px solid green;
  background-color: grey;
  color: white;
}

.card.selected:hover {
  border-color: green;
  border: 1px solid green;
  background-color: grey;
  color: white;
}

.card.disabled {
  opacity: 0.3;
  cursor: default;
}
