<br />
<br />
<a (click)="toggleCardVisibility()">{{ cardsVisible ? 'Hide cards' : 'Show cards' }}</a>
<br />
<br />

<div *ngIf="cardsVisible">
  <div *ngFor="let card of cards">
    <card style="float: left; margin: 5px;" [card]="card" (cardClick)=cardClicked($event) [enabled]="cardsEnabled">
    </card>
  </div>
</div>

<!-- Display voting area -->
<div style="clear: both">
  <div *ngFor="let voteSlot of voteSlots">
    <card style="float: left; margin: 5px;" [card]="voteSlot">
    </card>
  </div>
</div>
